body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}
#recommendations-container {
  border: 1px solid firebrick;
  display: grid;
  grid-template-columns: repeat(var(--num-columns, 3), 1fr);
}

.organic-recommendation-individual,
.sponsored-recommendation-individual {
  border: 2px solid purple;
  width: 100%;
  max-width: var(--item-width, 150px);

  display: flex;
}

@media only screen and (max-width: 600px) {
  .organic-recommendation-individual,
  .sponsored-recommendation-individual {
    flex-direction: column;
  }
}

.caption-area {
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  border: 1px solid green;
  margin: 10px;
}

a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.caption-area {
  overflow-wrap: break-word;
}
.caption {
  font-size: 0.9em;
  margin-top: 5px;
}

.source {
  font-size: x-small;
  color: #666;
}
